<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/members.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        {{>navbar}}
        <div class="main">
            <h2>Area de membros</h2>
            <p style="width: 550px;">Aqui voce pode editar e adicionar especies no viveiro de mudas, e ter acesso as inscricoes das equipes do Enduro a Pe da Serra</p>
            <p></p>
        </div>
    </div>

    

    
</body>

</html>