<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>
    <section class="py-5 text-center img-container pd-5" style="background-image: url('img/2-forest.jpg'); opacity: 0.8">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto bg">
                <h1 class="fw-light text-white" style="text-shadow: 4px 4px black;">QUEM SOMOS</h1>
                <p class="lead text-white" style="text-shadow: 3px 3px black;">Colabore com nosso viveiro de mudas,
                    eventos esportivos e atividades
                    socio-ambientais</p>
                <p>
                    <a href="#" class="btn btn-warning my-2">Financie nossos projetos</a>
                </p>
            </div>
        </div>
    </section>
    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">Sobre nos</h2>
                        <p class="aboutus-text">A ONG Abutres da Mantiqueira é uma associação civil, de direito privado,
                            de
                            caráter sócio-ambientalista e realizador de eventos turísticos / esportivos sem fins
                            lucrativos,
                            de duração indeterminada, regida por Estatuto. Lei de Utilidade Publica Estadual - LEI Nº
                            22.845, DE 5 DE JANEIRO DE 2018 e Lei de Utilidade Publica Municipal - LEI Nº1.127/2018</p>
                        <p class="aboutus-text">A ONG foi criada por pessoas que acreditam na recuperação e preservação
                            do
                            meio ambiente utilizando como ferramenta a educação ambiental e a conscientização ecológica
                            da
                            população de um modo geral.

                        </p>
                        <a class="aboutus-more" href="#">Leia mais sobre a ONG</a>
                    </div>
                </div>
                <div class="col-md-1 col-sm-3 col-xs-6"></div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <h2 class="aboutus-title">Nossos projetos</h2>

                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="bi bi-battery-charging icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Recolhimento de pilhas e baterias</h4>
                                    <p>Promover uma melhoria no descarte de materiais recicláveis, com coletas em
                                        diversos pontos. <a href="#">Conhecer</a></p><br>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="bi bi-signpost-split-fill icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Enduro a Pe da Serra</h4>
                                    <p>A prática de enduro a pé ou trekking promove a interação com a natureza e as
                                        tradições do meio rural, permitindo a contemplação das nossas belezas
                                        naturais.<a href="#">Conhecer</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="bi bi-tree-fill icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Viveiro de mudas</h4>
                                    <p>Disponibilizamos aqui as espécies de árvores que temos disponíveis, o preço pode
                                        variar conforme a quantidade.<a href="#">Conhecer</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>