<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}


</head>

<body>
    <main role="main">
        <section class="py-5 text-center img-container"
            style="background-image: url('img/viveiro_capa.jpg'); opacity: 0.8">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto bg">
                    <h1 class="fw-light text-white" style="text-shadow: 2px 2px rgb(68, 61, 61);">Viveiro de Mudas
                        Nativas
                    </h1>
                    <p class="lead text-white" style="text-shadow: 2px 2px rgb(68, 61, 61);">O patrocínio deste projeto
                        resultara
                        em ações que resultaram em grandes melhorias
                        a comunidade em geral.</p>
                    <p>
                        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"
                            class="btn btn-success my-2">Entrar em contato</button> <a href="/doar"
                            class="btn btn-dark my-2">Financie nossos projetos</a>
                    </p>
                </div>
            </div>
        </section>
        <br><br>
        <!-- Marketing messaging and featurettes
      ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="img/viv4.jpg" alt="" width="240" height="240">
                    <h2>Viveiro Abutres 1</h2>
                    <p>O viveiro de mudas plantando e andando é uma necessidade para ONG, visto que sem um espaço físico
                        adequado aumenta-se muito a dificuldade das principais atividades as quais a entidade se empenha
                        conforme citado anteriormente</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="img/Eviv.png" alt="" width="240" height="240">
                    <h2>Producao de mudas</h2>
                    <p>Por meio de nosso viveiro, produzimos uma diversidade de mudas, das quais, as nativas, sao
                        utilizadas nos plantios de todas as nossas atividades,
                        alem de fornecerem uma pequena renda, revertida em equipamentos e infraestrutura para que a
                        propria producao de mudas aumente
                    </p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="img/viv1.jpg" alt="" width="240" height="240">
                    <h2>Palestras e concientizacao</h2>
                    <p>A ONG tambem realiza eventos em conjunto com as escolas, com palestras sobre a importancia da
                        preservacao ambiental, levando ate as futuras geracoes o conhecimento
                        e o espirito comunitario que a causa necessita
                    </p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Por que plantamos? <span class="text-muted"></span>
                    </h2>
                    <p class="lead" style="text-align: justify; font-size: 18px">
                        <span class="glyphicon glyphicon-pushpin"></span> Criar um viveiro de mudas para fornecer mudas
                        de arvores nativas da mata atlântica para produtores rurais, empresas e para recuperar áreas
                        remanescentes de nascentes e áreas degradas;
                    </p>
                    <p class="lead" style="text-align: justify; font-size: 18px"><span
                            class="glyphicon glyphicon-pushpin"></span> Fornecer mudas para campanhas educativas e
                        eventos de cunho ambiental;</p>
                    <p class="lead" style="text-align: justify; font-size: 18px"><span
                            class="glyphicon glyphicon-pushpin"></span> Garantir a sobrevivência de espécies nativas da
                        mata atlântica como jacarandá, jacaré, pereira, cedro, ipê, araucária, entre outras;</p>
                    <p class="lead" style="text-align: justify; font-size: 18px"><span
                            class="glyphicon glyphicon-pushpin"></span> Promover a educação ambiental em escolas e
                        através da visitação;</p>
                    <p class="lead" style="text-align: justify; font-size: 18px"><span
                            class="glyphicon glyphicon-pushpin"></span> Produzir e fornecer mudas de arbustos, plantas
                        de pequeno porte e arvores frutíferas que sirvam para consumo humano e produzam flores para
                        proliferação de abelhas e outras espécies;</p>
                    <p class="lead" style="text-align: justify; font-size: 18px"><span
                            class="glyphicon glyphicon-pushpin"></span> Resgatar mudas, que por obra da natureza
                        insistem a nascerem em quintais, praças, áreas de plantio agrícola e criação de animais, que
                        estão destinadas ao corte antes de completar seu ciclo natural da vida, e transplantar em áreas
                        destinadas a elas.</p>
                    <p><a class="btn btn-secondary" href="/doar" role="button">Contribua com este projeto »</a></p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                        style="width: 400px; height: 400px; border-radius: 5%;" src="img/project2.jpg"
                        data-holder-rendered="true">
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <h2 class="featurette-heading">Mudas disponiveis <span class="text-muted"></span>
                </h2>
                <iframe class="airtable-embed"
                    src="https://airtable.com/embed/shrQjoiLxQjiUZXSx?backgroundColor=blue&layout=card&viewControls=on"
                    frameborder="0" onmousewheel="" width="100%" height="533"
                    style="background: transparent; border: 1px solid #ccc;"></iframe>
            </div>

            <hr class="featurette-divider">

        </div>
    </main>

    <div id="id01" class="modal">

        <form class="modal-content animate" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
                <img src="img/logo.png" alt="Avatar" class="avatar" width="60px" height="60px">
            </div>

            <div class="container">
                <label for="vname"><b>Nome</b></label>
                <input type="text" placeholder="Informe seu nome" name="vname" required>

                <label for="vemail"><b>Email</b></label>
                <input type="text" placeholder="Informe seu email" name="vemail" required>

                <label for="vmsg"><b>Sua Mensagem</b></label>
                <textarea name="vmsg" rows="6" cols="25"></textarea>

                <button type="submit" action="/viveiro" onclick="funcAlerta()"
                    class="btn btn-success my-2">Enviar</button>
                <button type="button" class="btn btn-danger my-2"
                    onclick="document.getElementById('id01').style.display='none'">Cancel</button>
            </div>

        </form>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script>
        function funcAlerta() {
            alert("Obrigado por entrar em contato. Entraremos em contato");
        }
    </script>


    {{>footer}}
</body>

</html>